.header {
    display: flex ;
  
    /* padding: 50px; */
}
.header p{
   margin-left: auto;
}
img{
    width: 100%;
    
}

.footer {
    padding: 2%;
}
.wrapper {
    text-align:center;
    border: 1px solid rgb(181, 178, 178);
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: white;
    margin-bottom: 10px;
}
body {
    background-color: rgb(3, 3, 3);
}
